:root {
    --primary-color: #1D3557;
    --secondary-color: #457B9D;
    --accent1-color: #AF9164;
    --accent2-color: #DBE9EE;
    --heading-font: "Fugaz One";
    --body-font: "Roboto";
    --low-opacity-border: solid 1px rgb(0 0 0 / 0.2)
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    text-align: center;
}
header {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    font-family: var(--heading-font);
}
header nav {
    display: flex;
    text-align: center;
    justify-content:space-around;
    background-color: var(--accent1-color);
    border-radius: 10px;
    margin: 80px;
}
nav a:hover {
    color: var(--secondary-color);
    border-bottom: 1px solid black;
}
header img {
    border-radius: 100px;
    margin: 20px 0 20px 80px;
}
body {
    font-family: var(--body-font);
    color: black;
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

#adventure-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 15px 0 15px 0;
}
#adventure-images h2 {
    grid-column: 1/6;
}
nav, p, section, article {
    margin: 0;
    padding: 8px;
}
.socialmedia a{
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
}
.hero article {
    position: absolute;
    top: 120px;
    width: 100%;
    padding: 12px;
    text-align: center;
    opacity: 0.9;
    background-color: var(--secondary-color);
    color: #fff;
}
.hero article img {
    float: right;
    width: 125px;
    margin: 0;
}
nav a {
    color: #eee;
    text-decoration: none;
}
footer {
    position: relative;
    padding: 25px;
    background-color: var(--primary-color);
}
footer p{
    text-align: center;
    color: var(--accent1-color )
}
.socialmedia {
    position: absolute;
    top: 13px;
    right: 20px
}
section h2 {
    margin: 10px;
}

a {
    color: var(--accent1-color)
}



form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    font-family: var(--body-font);
}

legend {
    padding: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.3em;
    text-align: left;
}

input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    margin-right: .5rem;
}

button {
    margin: 1rem;
    background-color: var(--accent1-color);
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: var(--primary-color);
}

.information label {
    display: block;
    padding: .5rem;
}

.purpose {
    display: flex;
    justify-content: space-around;
}

.message{
    display: grid;
    margin: 15px;
}

.message label {
    padding: 10px;
     
}

.meetourstaff {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: var(--accent2-color);
}

.meetourstaff h2 {
    grid-column: 1/4;
}

.meetourstaff figure {
    padding: 15px;
    border-top: var(--low-opacity-border);
    border-bottom: var(--low-opacity-border);
}

.meetourstaff figure img {
    border: var(--low-opacity-border);
}

section {
    background-color: var(--accent2-color);
}

.reachus {
    border-bottom: var(--low-opacity-border);
}

.contact-h1 {
    position: relative;
    top: 0px;
    opacity: 1;;
}

.home-newsletter-form form {
    background: var(--accent2-color);
    width: 420px;
    margin: 0;
}

.booking {
    background-color: var(--secondary-color);
    border: var(--low-opacity-border);
    color: white;
    padding: 5px;
}

.booking p {
    font-size: .8em;
    color: white;
    padding: 0;
}

.booking button {
    border: var(--low-opacity-border);
    padding: 3px;
    margin: .5em 0 0 0;
    font-size: .7em;
    color: white;
    background-color: var(--primary-color);
}

.booking button:hover {
    background-color: var(--accent1-color);
}

.form-offerings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color);
}
.offerings {
    background-color: var(--secondary-color);
}

.offerings img {
    border: solid 5px var(--accent1-color);
}
.offerings figcaption {
    background-color: var(--accent1-color);
}

.offerings figure {
    padding-bottom: 3px
}