:root {
    --height: auto;
    --width: 150px;
    --border: 1px solid black;
    --boxshadow: 0 0 30px gray;
    --textalign: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: steelblue;
    padding: .5rem;
}
img {
    width: var(--width);
    height: auto;
    border: var(--border);
    padding: 2px;
    box-shadow: var(--boxshadow);
}
p {
    padding: 10px;
}
aside {
    width: 20em;
    text-align: var(--textalign);
    position: relative;
}
aside h2 {
    position: absolute;
    top: 20px;
    left: 125px;
}
aside img {
    width: 200px;
    height: auto;
}
main{
    max-width: 640px;;
}
main img {
    width: var(--width);
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: var(--boxshadow);
    float: right;
    margin: 0 0 1rem 1rem;
}
p{
    padding: 0;
    margin: 1rem;
}
footer{
    margin-top: 1em;
    border-top: var border;
    text-align: var(--textalign);
}
/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}
.indent {
    padding-left: 2rem;
}